.board{
    height: 500px;
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.boxes{
    display: flex;
    height: 155px;
    width: 155px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.boxes img{
    margin: 50px;
    object-fit: contain;
}

.title img{
    height: 40px;
}

@media (max-width: 450px) {
    .board{
        width: 100vw;
        height: 45vh;
    }
    .title{
        font-size: 30px!important;
    }
    .boxes{
        height: 100px;
        width: 100px;
    }
    .boxes img{
        margin: 30px;
    }
    .reset{
        margin: 10px 0 !important;
        width: 200px!important;
        height: 75px!important;
        padding: 0!important;
    }
}

@media (max-width: 380px) {
    .boxes{
        height: 80px;
        width: 80px;
    }
}